@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  max-width: 700px;
  margin-left: 100px;
}

.column {
  float: left;
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: inherit;
}